@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500&family=Poppins&display=swap");

/* layout */
:root {
  --primary: #00bfff;
  --error: #e7195a;
  --dark-neutral: #333;
  --neutral: #f1f1f1;
}

body {
  background: var(--neutral);
  margin: 0;
  font-family: "Noto Sans", "Poppins", sans-serif;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transparent-bg {
  background-color: #ccc;
  background-color: rgba(0, 0, 0, 0.125);
}

.btn {
  padding: 0.75rem 1.8rem;
  font-size: 0.95rem;
  font-weight: 500;
  border: none;
  border-radius: 5px;
}

.zoom-hover {
  transition: transform 0.2s;
}

.zoom-hover:hover {
  transform: scale(1.01);
}

.image-overlay {
  position: relative;
  width: 300px;
  height: 340px;
}

.image-overlay img {
  width: 100%;
  vertical-align: top;
}

.image-overlay:after {
  content: "\A";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin-top: 2em;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.image-overlay:hover:after {
  transform: scale(1);
  opacity: 0.5;
}

.left-radius {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.right-radius {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.cover {
  object-fit: contain;
  /* max-width: 100%; */
  /* height: 100%; */
}

header {
  background: var(--primary);
}

header .container {
  /* width: 100%; */
  /* max-width: 1400px; */
  margin: 0 auto;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}
.full-nav {
  width: 100%;
}

.nav-links {
  flex-grow: 0.5;
  cursor: pointer;
}

.links > * {
  margin: 0 1em;
}

.links > *:hover {
  color: var(--neutral);
}

.user-info--nav > * {
  margin: 0 1em;
}

.user-info--nav button {
  padding: 0.5em 2em;
  border: none;
  outline: 1px solid var(--dark-neutral);
}

.giatto-user {
  background-color: #7fffd4;
  color: var(--dark-neutral);
  font-weight: bold;
  padding: 0.75em;
  border-radius: 50%;
}

.giatto-user:hover {
  opacity: 0.85;
}

/* .mobile-username {
  position: relative;
  border: 1px solid red;
  margin-left: 85%;
  margin-right: 8em;
  padding-top: 2.85em;
} */

.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #122a32;
  height: 100vh;
  text-align: left;
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  box-shadow: 2px 2px 1px #333;
}

.mobile-nav--links {
  padding: 2em 0;
  color: #fff;
}

.mobile-nav ul {
  padding: 5em 0;
  color: #fff;
}

.mobile-nav ul li {
  list-style: none;
  margin-left: -1em;
  padding: 2em 0;
}

.mobile-logo-text {
  display: none;
}

.signup-btn {
  padding: 0.5rem 2rem;
  border: none;
  outline: 1px solid var(--dark-neutral);
  box-shadow: inset 0 0 0 0 var(--dark-neutral);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.signup-btn:hover {
  color: var(--neutral);
  box-shadow: inset 400px 50px 0 0 var(--dark-neutral);
}

.signup-btn--mobile {
  background: #7fffd4;
  color: var(--dark-neutral);
  padding: 0.5rem;
  border: none;
  outline: none;
}

.login-btn--mobile {
  color: #7fffd4;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* c6fbea */

.label-container {
  background-color: #c5f9e9;
  padding: 1.5rem 0;
  margin: 0;
  color: var(--dark-neutral);
}

/* dynamic-search-box */
.dynamic-search {
  width: 54%;
  margin: auto;
  padding: 0 1.5rem;
}

.category-search {
  width: 65%;
}

.search-container {
  margin: 1em;
}

.select-input {
  width: 100%;
  /* height: 0.35em; */
  border-top-right-radius: none;
  border-bottom-right-radius: none;
  font-size: 0.95rem;
}

.search-input {
  width: 37em;
  height: 0.5em;
  padding: 1.15rem 1rem;
  font-size: 0.95rem;
  border: none;
  background-color: #f1f1f1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-input:hover,
.select-input:hover,
select:hover {
  border: none;
  outline: none;
}

.search-input:focus,
.select-input:focus,
select:focus {
  border: none;
  outline: none;
}

.basic-search-boxes {
  margin: 1em auto;
  width: max-content;
}

.basic-search-boxes * {
  margin: 1em 0.5em;
}

.basic-search {
  display: flex;
  align-items: center;
  color: white;
  padding: 0 0.5rem;
  font-size: 0.7rem;
  border-radius: 5px;
}

.basic-search:hover {
  opacity: 0.9;
}

/* colors */
.white {
  color: #fff;
}

.dark-neutral {
  color: var(--dark-neutral);
}

.mr--social-btns {
  margin-right: 5px;
}

/* font-sizes and texts*/
.centered-text p {
  font-size: 0.95rem;
}

.logo-text {
  font-size: 3rem;
}

.big-100 {
  font-size: 2rem;
  color: #daa520;
}

.sub-head-text {
  font-size: 2rem;
  margin: 4px 6px 12px;
  text-decoration: none;
}

.sm-text {
  font-size: 0.5rem;
}

.centered-text {
  text-align: center;
}

/* fontstyle */
.italic-text {
  font-style: italic;
}

.underline-txt {
  text-decoration: underline;
}

.underline-hover:hover {
  text-decoration: underline;
}

/* fontweight */
.ex-bold {
  font-weight: 900;
}

.light-text {
  font-weight: 100;
}

/* cursor */
.cursor-pointer {
  cursor: pointer;
}

/* imput fields */
input:-internal-autofill-selected {
  background: transparent !important;
}

/* Button */
.Button {
  color: var(--dark-neutral);
}

.Button:focus {
  background-color: var(--primary);
}

/* homepage */
.banner {
  background: linear-gradient(180deg, #00bfff, #7fffd4);
  height: max-content;
}

.banner-flex-1 {
  padding: 0 15%;
}

.banner-flex-2 {
  padding: 3rem 5rem;
}

.banner-text {
  margin: 3em auto 0;
}

.banner-text h3 {
  font-size: 2rem;
}

.banner-para {
  font-size: 1.25rem;
  margin-top: -1.25em;
}

.category-container {
  border: 3px solid var(--neutral);
  width: max-content;
  height: 100px;
  width: 100px;
  position: relative;
}

.category-container img {
  width: 100%;
  vertical-align: top;
}

.category-container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.category-container:hover:after {
  transform: scale(1.05);
  opacity: 0.5;
}

.category-text {
  font-size: 0.75rem;
  text-align: center;
  z-index: 9;
  color: var(--dark-neutral);
}

/* recommended, trendy resources cards, premium & category */
/* .recommended, */
.trendy-section,
.white-premium-section,
.calendar-section {
  margin: 2em;
  padding: 2rem;
}

.recommended {
  margin: 0;
  padding: 4rem;
  background-color: #f5f5f5;
}

.recommended-gallery {
  margin: 4em 1em 2em;
}

.recommended-gallery img {
  cursor: pointer;
}

.recommended-gallery img:hover {
  opacity: 0.9;
}

.title-overlay--wide-pic {
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 1em;
  position: relative;
  margin-top: -4.15em;
  color: var(--neutral);
  cursor: pointer;
}

.title-overlay--wide-pic-border {
  border-bottom-left-radius: 15px;
}

.title-overlay--small-last-pic-border {
  border-bottom-right-radius: 15px;
}

.title-icon:hover {
  transform: translateY(1px);
}

/* .wide-pic-category {
  border: 1px solid #00bfff;
  height: 500px;
  width: 49%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
} */

.small-pic-category {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  width: 50%;
}

.small-rec-columns {
  display: flex;
  justify-content: space-between;
}

.small-rec-last-top-col {
  border-top-right-radius: 15px;
}

.small-rec-last-bottom-col {
  border-bottom-right-radius: 15px;
}

.explore-collections-btn {
  color: #00bfff;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  padding-right: 0.25rem;
  width: 8%;
  margin-left: auto;
  margin-top: -2.8em;
}

.explore-arrow {
  margin-left: 8px;
  margin-top: 2px;
  transition: all 0.25s ease;
}

.explore-arrow:hover {
  transform: translateX(3px);
}

.trendy-gallery {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.trendy-gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.image-list {
  width: 23%;
  height: 340px;
  margin: 2em 0;
  display: flex;
  justify-content: space-between;
  background-color: var(--neutral);
  border-radius: 15px;
}

.img-list-full-col img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin-right: 0.15em;
  width: 150px;
  height: 340px;
}

.masonry-sm-img {
  width: 150px;
  height: 169px;
  overflow: hidden;
}

.img-list-half-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-list-half-top {
  border-top-right-radius: 15px;
}

.img-list-half-bottom {
  border-bottom-right-radius: 15px;
}

.item-bar {
  position: relative;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0 1em;
  margin-top: -7.35em;
  font-size: 0.75rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: var(--neutral);
  cursor: pointer;
}

.item-bar-title {
  line-height: 0.5;
}

.action-flex {
  padding: 0.75rem;
  cursor: pointer;
  color: #122a32;
}

.action-flex:hover {
  background-color: #ccc;
  transform: translateX(1px);
}

.white-premium-section {
  width: 85%;
  margin: auto;
}

.premium-content {
  padding: 2rem;
}

.premium-text {
  line-height: 0.5;
  padding: 1em;
}

.premium-icon {
  background-color: #c1ecfa;
  padding: 0.5em;
  color: #00bfff;
  border-radius: 10px;
  margin-right: 1em;
}

.premium-btn {
  border: none;
  outline: 1px solid #ffa500;
  color: var(--dark-neutral);
  box-shadow: inset 0 0 0 0 #ffa500;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.premium-btn:hover {
  color: var(--neutral);
  box-shadow: inset 400px 50px 0 0 #ffa500;
}

.section-head {
  font-size: 1.5rem;
}

.section-para {
  font-size: 0.95rem;
}

@keyframes bgcolor {
  0% {
    background-color: #122a32;
  }

  50% {
    background-color: #eb670f;
  }

  100% {
    background-color: #864cbf;
  }
}

.calendar-section {
  -webkit-animation: bgcolor 20s infinite;
  animation: bgcolor 15s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  padding: 4em 8em;
  margin-inline: 0;
}

.noise {
  background-image: url("./assets//grainy.png");
}

.calendar-btn {
  margin-top: 1em;
  color: #ccc;
  transition: all 0.5s ease;
  cursor: pointer;
}

.calendar-btn:hover {
  opacity: 0.5;
}

.calendar-text,
.calendar-section-imgs {
  width: 100%;
  height: max-content;
}

.calendar-text {
  margin-left: 4em;
  line-height: 0.5;
}

.calendar-text span {
  color: #daa520;
}

.calendar-section-imgs {
  margin-left: 6em;
}

.calendar-bordered-imgs {
  width: 400px;
  height: 300px;
  border: 3px solid #e7195a;
  border-radius: 8px;
}

.colorful-imgs {
  height: max-content;
  margin-top: -3.5em;
  margin-left: -4em;
  width: max-content;
}

.colorful-imgs div {
  display: flex;
  flex-direction: column;
}

.colorful-imgs div img {
  margin: 1em 1em 0;
}

.f-colorful-image {
  margin-right: 1em 0.5em 0;
}

/* community */
.community-section {
  margin: 4em 6em;
  background-color: #e2f7f7;
  border-radius: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.community-content {
  padding-right: 10em;
}

.community-content span {
  color: #00bfff;
}

.community-content p {
  margin-top: -0.75em;
  line-height: 1.5;
}

.community-btn {
  background-color: #00bfff;
  color: var(--neutral);
  margin-top: 1em;
}

.community-btn:hover {
  opacity: 0.9;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* category page */
.category-header--white {
  padding-inline: 1rem;
}

.category-header--dark {
  background-color: #122a32;
  font-size: 0.75rem;
  width: 100%;
}

.category-navbar {
  width: 98%;
  margin: auto;
  padding: 0.5rem 0;
}

.category-header--dark ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.category-header--dark ul li {
  margin: 0 0.75em;
  color: #8ebdcc;
}

.category--navlinks {
  margin: 0;
  padding: 0;
}

.category-header--dark a {
  color: #8ebdcc;
}

.category-header--dark a:hover,
.dropdown-btn:hover {
  color: #c1ecfa;
}

.category-header--white a {
  color: #00bfff;
}

.category-header--white a,
.category-header--dark a {
  text-decoration: none;
}

.category-navbar .category--pricing a {
  color: #daa520;
}

.category-header--white .links {
  margin-left: 2em;
}

/* .category-navbar ul li a {
  outline: 0.1px solid white;
} */

.category-navbar ul li a:after {
  content: "";
  border-bottom: 3.5px solid #8ebdcc;
  transform: scaleX(0);
  transition: transform 1.5s ease-in-out;
}

.category-navbar ul li a:hover:after {
  transform: scaleX(1);
}

.category-navbar ul li a.active {
  color: #c1ecfa;
  position: relative;
  display: inline-block;
}

.category-navbar ul li a.active::after {
  position: absolute;
  content: "";
  border-bottom: 3.5px solid #8ebdcc;
  width: 100%;
  transform: scaleX(1);
  transition: all 1s ease-in-out;
  bottom: -20px;
  left: 0.1rem;
}

.dropdown-btn {
  background-color: transparent;
  border: none;
  outline: none;
  color: #8ebdcc;
  font-size: 0.75rem;
}

.dropdown {
  position: absolute;
  transition: all 0.5s ease;
  top: 4em;
  display: none;
  border-radius: 4px;
  background-color: #122a32;
  border: none;
  outline: 1px solid #333;
  width: max-content;
  padding: 0.5rem;
  font-size: 0.75rem;
  box-shadow: 0 0 2px #333;
  z-index: 9;
}

.show {
  display: block;
  z-index: 9;
  width: 180px;
  border: none;
}

/* a.dropdown-link {
  padding: 3rem 0;
} */

.category-header--dark ul li ul {
  overflow: hidden;
}

.category-search .search-input,
.category-search .select-input {
  height: 0.5em;
}

.category-search .search-input {
  width: 50em;
  outline: 1px solid #ccc;
}

.category-search .search-input:hover {
  outline: 1px solid #ccc;
}

.category-search .select-input {
  margin-top: -0.855em;
}

.category-login:hover {
  color: #00bfff;
  opacity: 0.85;
}

.category-header--white .signup-btn {
  outline: 1px solid #00bfff;
  box-shadow: inset 0 0 0 0 #00bfff;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.signup-btn:hover {
  color: var(--neutral);
  box-shadow: inset 400px 50px 0 0 #00bfff;
}

/* sidebar layout */

#main {
  margin: 0px 20px 40px 330px;
  padding-right: 8.25rem;
  border-top: 1px solid #ccc;
  /* border: 1px solid red; */
}

#sidebar {
  height: 100vh;
  /* margin-top: -15px !important; */
  position: fixed !important;
}

.sidebar {
  width: 300px;
  height: 100vh;
  overflow: auto;
  border-right: 2px solid #ccc;
}

.filter-box {
  padding: 2em 0;
}

.category-collapsible .fo-link {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.category-collapsible li {
  list-style-type: none;
}

.category-collapsible .m-fo-list {
  text-decoration: none;
  color: var(--dark-neutral);
  margin: 1em 0;
  outline: 1px solid var(--dark-neutral);
  border-radius: 4px;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
  line-height: 4;
  border: none;
}

.category-collapsible .m-fo-list:hover {
  background-color: #00bfff;
  color: var(--neutral);
  outline: 1px solid #00bfff;
}

.category-collapsible ul {
  display: grid;
  grid-template-columns: auto auto auto;
}

.collapsible-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.95rem;
}

.color-circles {
  border-radius: 50px;
  border-color: #daa520;
}

/* collections-page */
#collections-banner {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./assets/img-collection2.png");
}

#each-collection-banner {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./assets/img-collection.png");
}

#collections-banner,
#each-collection-banner {
  height: 300px;
  color: var(--neutral);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 1s ease;
}

#collections-banner h2,
#each-collection-banner h2 {
  font-size: 2rem;
  margin: 0;
}

#collections-banner p,
#each-collection-banner p {
  font-size: 1rem;
}

.collection-search {
  width: 100%;
}

.collection-search .search-input-container {
  margin-left: -3.7em;
  border: 1px solid #ccc;
}

/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  /* max-width: 500px; */
}

.slideshowSlider {
  white-space: nowrap;
  transition: steps() 2s ease;
}

.slide img {
  object-fit: cover;
  object-position: center;
}

.slide {
  display: inline-block;

  height: 300px;
  width: 100%;
}

/* Slideshow buttons */
.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}

/* discover collection page */
.discover-page {
  background-color: #f5f5f5;
  padding: 1em;
  margin: 0;
  /* opacity: 0.5; */
}

.discover-page .centered-text h5 {
  font-size: 2rem;
  margin: 0;
}

.discoverPage-banner {
  /* height: 240px; */
  background: linear-gradient(
      0deg,
      rgba(245, 245, 245, 0.75),
      rgba(245, 245, 245, 0.75)
    ),
    url("./assets/vec5.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 560px 300px;
}

.match-link--container span {
  color: #555;
}

.match-link {
  margin: 0 0.2em;
  font-size: 0.85rem;
  color: #555;
  text-decoration: none;
}

.match-link:hover {
  color: #ccc;
}

.match-link--name {
  color: var(--dark-neutral);
  font-weight: 700;
}

.discover-page .centered-text p span {
  margin: 0 0.5em;
  font-size: 0.85rem;
}

.discover-page .centered-text p span.span-auth {
  margin: 0;
  color: #00bfff;
}

.discover-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--neutral);
}

.discover-overlay-image {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
}

#thumbnail-container {
  /* width: max-content;
  height: max-content; */
  margin: 1.5em 0.5em 0;
  /* position: relative; */
}

#thumbnail {
  position: absolute;
  width: 405px;
  height: 345px;
  top: 50;
  left: 50;
  border-radius: 15px;
  background-color: rgb(3, 3, 44, 0.9);
  padding: 0.5em;
  cursor: pointer;
}

#thumbnail p {
  color: var(--neutral);
}

.discover-overlay-image img {
  border-radius: 15px;
  cursor: pointer;
  z-index: 10;
}

#thumbnail {
  opacity: 0.5;
  z-index: 9;
}

/* footer */
footer {
  /* background: linear-gradient(180deg, #7FFFD4, #00BFFF); */
  background-color: #122a32;
  color: #8ebdcc;
  padding: 3%;
  font-size: 0.8rem;
  padding-bottom: 2.5%;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

footer div ul {
  margin-left: -3em;
}

footer div ul li {
  line-height: 2;
  list-style-type: none;
  cursor: pointer;
}

.footer-label {
  background-color: rgb(18, 42, 50, 0.85);
  padding-inline: 2.25rem;
  font-size: 0.85rem;
  color: #8ebdcc;
}

.footer-label ul li {
  display: inline;
  margin-left: 2em;
  cursor: pointer;
}

.footer-label ul li:hover {
  text-decoration: underline 1.5px;
}

.sm-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-left: -3em; */
  padding: 5px;
}

.sm-icons > * {
  margin-inline-end: 1.5em;
}

hr {
  background-color: #8ebdcc;
}

.footer-text {
  margin: 2em auto 0;
}

.mobile-footer {
  display: none;
}

.hamburger {
  display: none;
}

/* media queries */
@media screen and (max-width: 1159px) {
  .full-nav {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .hamburger-btn {
    position: absolute;
    top: 5%;
    left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
  }

  .hamburger-btn:focus {
    outline: none;
  }

  .hamburger-btn * {
    width: 2rem;
    height: 0.25rem;
    background: var(--neutral);
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
  }

  .mobile-logo-text {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    left: 90%;
    font-size: 2rem;
    color: #fff;
  }

  .star-icon {
    display: none;
  }

  .banner-flex-1 {
    padding-top: 1.5em;
  }

  .banner-text,
  .banner-img {
    padding: 2em 2em 0;
  }

  .banner-text h3 {
    font-size: 1.2rem;
  }

  /* .big-100 {
    font-size: 1.25rem;
  } */

  .logo-text {
    font-size: 2.5rem;
  }

  .banner-img img {
    width: 260px;
  }

  .footer-list {
    padding: 0 5%;
  }
}

@media screen and (max-width: 1081px) {
  .banner {
    height: max-content;
  }

  .mobile-logo-text {
    left: 89%;
  }

  .big-100 {
    font-size: 3.5rem;
  }

  .logo-text {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1041px) {
  .banner-text,
  .banner-img {
    padding: 2.5em 2em 0;
  }

  .big-100 {
    font-size: 2.8rem;
  }

  .logo-text {
    font-size: 2rem;
  }

  .mobile-logo-text {
    left: 88.5%;
  }

  footer {
    padding: 3%;
  }
}

@media screen and (max-width: 991px) {
  .hamburger-btn {
    width: 1.8rem;
    height: 1.8rem;
  }

  .hamburger-btn * {
    width: 1.8rem;
  }

  .mobile-logo-text {
    left: 88%;
  }

  footer {
    padding: 2%;
  }
}

@media screen and (max-width: 973px) {
  .banner-flex-2 {
    width: 78%;
    margin: auto;
    padding: 1em;
  }
}

@media screen and (max-width: 931px) {
  .banner-text,
  .banner-img {
    padding: 3em 2em 0;
  }

  .banner-text h3 {
    font-size: 1rem;
  }

  .big-100 {
    font-size: 2.5rem;
  }

  .logo-text {
    font-size: 1.8rem;
  }

  .mobile-logo-text {
    left: 87.5%;
  }

  .category-boxes h4,
  .banner h4,
  .mobile-nav--links {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 901px) {
  .banner-text h3 {
    font-size: 1.05rem;
  }

  .logo-text {
    font-size: 1.7rem;
  }

  .mobile-logo-text {
    left: 87%;
  }
}

@media screen and (max-width: 895px) {
  .banner-flex-2 {
    width: 84%;
  }
}

@media screen and (max-width: 875px) {
  .logo-text {
    font-size: 1.6rem;
  }

  .mobile-logo-text {
    left: 86%;
  }
}

@media screen and (max-width: 812px) {
  .banner-text,
  .banner-img {
    padding: 3em 0 0;
  }

  .banner-text h3 {
    font-size: 0.895rem;
  }

  .logo-text {
    font-size: 1.4rem;
  }

  .mobile-logo-text {
    left: 85%;
  }

  .banner-img img {
    width: 240px;
  }

  .banner-flex-2 {
    width: 86%;
  }
}

@media screen and (max-width: 780px) {
  .hamburger-btn {
    width: 1.75rem;
    height: 1.75rem;
  }

  .hamburger-btn * {
    width: 1.75rem;
  }

  .mobile-logo-text {
    left: 84.5%;
  }

  .banner-flex-2 {
    width: 88%;
  }

  footer {
    font-size: 0.75rem;
  }

  .footer-list {
    padding: 0 2%;
  }
}

@media screen and (max-width: 761px) {
  .banner-flex-2 {
    width: 90%;
  }

  .footer-list {
    padding: 0 1%;
  }
}

@media screen and (max-width: 746px) {
  .mobile-logo-text {
    left: 84%;
  }

  .banner-img img {
    width: 260px;
  }
}

@media screen and (max-width: 732px) {
  .mobile-logo-text {
    left: 83.5%;
  }

  .banner-flex-2 {
    width: 94%;
  }
}

@media screen and (max-width: 702px) {
  .mobile-logo-text {
    left: 83%;
  }

  .banner-img img {
    width: 255px;
  }

  .banner-flex-2 {
    width: 96%;
  }

  .footer-list {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0 15%;
  }
}

@media screen and (max-width: 680px) {
  .mobile-logo-text {
    left: 82%;
  }

  .category-boxes h4,
  .banner h4,
  .mobile-nav--links {
    font-size: 0.855rem;
  }

  .banner-flex-2 {
    width: 75%;
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    padding: 1em;
  }
}

@media screen and (max-width: 601px) {
  .banner-flex-1 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
  }

  .mobile-logo-text {
    left: 80%;
  }

  .big-100 {
    font-size: 3rem;
  }

  .logo-text {
    font-size: 2rem;
  }

  .footer-list,
  .footer-divider,
  .copyright-text {
    display: none;
    /* display: grid;
    grid-template-columns: auto auto; */
  }

  footer {
    padding: 20px 20px 5px;
  }

  .mobile-footer {
    display: block;
    padding: 1em;
  }

  .fo-link {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  .mobile-sm {
    width: 40%;
    margin: auto;
    text-align: center;
    padding-top: 1em;
  }

  .m-footer-container {
    margin-bottom: 2em;
  }

  .m-fo-list {
    text-decoration: none;
    color: #bfc1c1;
  }

  .m-fo-list:hover {
    color: #d5d3d3;
  }

  .sm-icons > :last-child {
    margin-right: 0;
  }

  .mobile-copyright-text {
    padding-top: 1em;
    text-align: center;
  }

  .footer-label {
    padding-inline: 1rem;
    font-size: 0.65rem;
  }
}

@media screen and (max-width: 546px) {
  .mobile-logo-text {
    left: 78%;
  }

  .banner-img img {
    width: 245px;
  }

  .banner-flex-2 {
    width: 80%;
  }
}

@media screen and (max-width: 512px) {
  .mobile-logo-text {
    left: 76.5%;
  }

  .banner-img img {
    width: 200px;
  }

  .banner-flex-1 {
    padding: 0 5%;
    padding-top: 1.5em;
  }

  .banner-flex-2 {
    width: 85%;
  }

  .banner-text h3 {
    font-size: 0.8rem;
    margin-left: 2em;
  }

  .big-100 {
    font-size: 2.5rem;
  }

  .logo-text {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 476px) {
  .mobile-logo-text {
    left: 75%;
  }

  .banner-text h3 {
    margin-left: 1em;
  }

  .banner-img img {
    margin-right: -1em;
  }

  .banner-flex-2 {
    width: 90%;
  }
}

@media screen and (max-width: 440px) {
  .mobile-logo-text {
    left: 73%;
  }

  .banner-text h3 {
    margin-left: 0;
  }

  .banner-img {
    margin-right: -1em;
  }

  .banner-flex-2 {
    width: 92%;
  }
}

@media screen and (max-width: 421px) {
  .banner-img img {
    width: 180px;
  }

  .banner-flex-2 {
    width: 94%;
  }
}

@media screen and (max-width: 417px) {
  .mobile-logo-text {
    margin-top: 0.85em;
  }

  .big-100 {
    font-size: 2.3rem;
  }

  .logo-text {
    font-size: 1.3rem;
  }

  .banner-img img {
    width: 175px;
  }

  .banner-flex-2 {
    width: 70%;
    display: grid;
    grid-template-columns: auto auto;
    padding: 1em;
  }
}

@media screen and (max-width: 376px) {
  .hamburger-btn {
    width: 1.7rem;
    height: 1.7rem;
  }

  .hamburger-btn * {
    width: 1.7rem;
  }

  .mobile-logo-text {
    left: 68%;
    font-size: 1.8rem;
  }

  .banner-flex-1 {
    display: grid;
    grid-template-columns: auto;
    padding: 5.5em 0 0;
    margin: auto;
  }

  .banner h4 {
    padding: 0 2.5em;
  }

  .banner-text {
    padding: 0 1em;
    margin: 0 2em;
    text-align: center;
  }

  .banner-text h3 {
    font-size: 0.855rem;
    margin: 0;
  }

  .big-100 {
    font-size: 2.9rem;
  }

  .logo-text {
    font-size: 1.9rem;
  }

  .banner-img {
    margin: auto;
    padding: 0 5em;
  }

  .banner-img img {
    width: 200px;
  }

  .banner-flex-2 {
    width: 75%;
  }

  .footer-label {
    padding-inline: 1rem;
    font-size: 0.65rem;
  }

  .footer-label ul li {
    margin-left: 1em;
  }
}

@media screen and (max-width: 350px) {
  .mobile-logo-text {
    left: 67%;
  }

  .banner-text h3 {
    line-height: 1.1;
  }

  .big-100 {
    font-size: 2.7rem;
  }

  .logo-text {
    font-size: 1.7rem;
  }

  .banner-flex-2 {
    width: 80%;
  }

  .footer-label {
    padding-inline: 0.5rem;
    font-size: 0.6rem;
  }

  .footer-label ul li {
    margin-left: 0.75em;
  }
}

@media screen and (max-width: 331px) {
  .big-100 {
    font-size: 2.5rem;
  }

  .logo-text {
    font-size: 1.5rem;
  }

  .banner-img img {
    width: 180px;
  }

  .banner-flex-2 {
    width: 85%;
  }
}

@media screen and (max-width: 301px) {
  .mobile-logo-text {
    margin-top: 1.15em;
    font-size: 1.5rem;
    left: 70%;
  }

  .banner-text h3 {
    font-size: 0.85rem;
  }

  .big-100 {
    font-size: 2.3rem;
  }

  .logo-text {
    font-size: 1.3rem;
  }

  .banner-img img {
    width: 155px;
  }

  .banner-flex-2 {
    width: 88%;
  }

  .footer-label {
    padding-inline: 0.25;
    font-size: 0.5rem;
  }

  .footer-label ul li {
    margin-left: 0.75em;
  }
}

@media screen and (max-width: 285px) {
  .banner-flex-1 {
    width: 200px;
    margin: auto;
  }

  .banner-text {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .banner-img {
    padding: 0 2em;
  }

  .banner h4 {
    padding: 1em;
  }

  .bordered-image {
    width: 110px;
  }

  .category-boxes h4,
  .banner h4,
  .mobile-nav--links,
  .category-text {
    font-size: 12px;
  }

  .banner h4 {
    padding: 0 3em;
  }
}

@media screen and (max-width: 276px) {
  .hamburger-btn {
    width: 1.5rem;
    height: 1.5rem;
  }

  .mobile-logo-text {
    margin-top: 1em;
  }

  .category-container {
    height: 150px;
  }

  .bordered-image {
    width: 150px;
    height: 150px;
  }

  .banner-flex-2 {
    width: 55%;
    grid-template-columns: auto;
    margin: auto;
  }

  .footer-label {
    padding-inline: 0.25;
    font-size: 0.4rem;
  }
}
